@font-face {
    font-family: arcade;
    src: url('ARCADECLASSIC.ttf') format('truetype');
}       

body {
    background-color: black;
    color: lime;
    font-family: arcade;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
div.div1 {
    border: 2px solid lime;
    width: 400px;
    height: 20px;
    text-align: center;
    background-color: black;
    cursor: grab;
    user-select: none; /* Prevent text selection */
}
div.div2 {
    border: 2px solid lime;
    width: 400px;
    height: 130px;
    background-color: black;
}
button {
    border: 2px solid lime;
    background-color: rgb(43, 156, 43);
    color: white;
    font-family: arcade;
    cursor: pointer;
}

.bottom-div {
    margin-top: auto; /* This pushes the div to the bottom */
    border: 2px solid lime;    
    background-color: #000000; /* Example background color */
    padding: 0px; /* Example padding */
    width: 99%;
    height: 30px;
  }